{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": 0,
    "no-console": 0,
    "no-alert": 0,
    "no-underscore-dangle": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-wrap-multilines": 0
  },
  "env": {
    "browser": true
  }
}
